

@import "../../assets/css/style.scss";

.loading{
  @include flex-row();
  @include flex-center();
  height: px2rem(60);
  background-color: #F4F4F4;
  margin-top: px2rem(30);
  cursor: pointer;
  &-tip{
    font-size: px2rem(20);
    margin-right: px2rem(10);
  }
  &-img{
    width: px2rem(40);
    height: px2rem(40);
  }
}