@import "../../assets/css/style.scss";

.main-card{
  margin-top: px2rem(40);
  width: 100%;
  padding: 0 $mainPadding;
  @include flex-row();
  .card-box{
    border-radius: px2rem(5);
    cursor: pointer;
    height: px2rem(300);
    flex: 1;
    width: 0;
    overflow: hidden;
    transition: all .3s;
    @include flex-row();
    &:hover{
      @include hover();
    }
    .image{
      width: 50%;
      height: 100%;
    }
    .content{
      width: 50%;
      height: 100%;
      background-color: #F4F4F4;
      padding: 0 px2rem(40);
      @include flex-col();
      justify-content: center;
      .title{
        color: #00a78e;
        font-weight: 700;
        font-size: px2rem(20);
        margin-bottom: px2rem(15);
      }
      .describe{
        color: #777;
        font-size: px2rem(12);
        line-height: px2rem(20);
      }
      .button{
        margin-top: px2rem(15);
        color: #00a78e;
        font-size: px2rem(15);
        border: 1px solid #00a78e;
        width: fit-content;
        padding: px2rem(8);
        cursor: pointer;
        border-radius: px2rem(5);
        transition: all .3s;
        &:hover{
          background-color: #00a78e;
          color: white;
        }
      }
    }
  }
}